version: "3.7"

services:
  php:
    build: .
    volumes:
      - ./:/app
    ports:
      - 80:80
    environment: 
      APACHE_DOCUMENT_ROOT: /app/public
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment: 
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_DATABASE: laravel
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080